.banner.style5 .content {
    width: 60rem;
}

.banner.style5 .image img {
    pointer-events: none;
    position: fixed;
}

.banner.style5 .image {
    opacity: 1;
    z-index: -1;
}

.background{
    position: relative;
    z-index: -2;
}

#wrapper {
    position: relative;
    z-index: 0;
}

#wrapper > .invert {
    background-color: #000000;
    color: #ffffff;
}

#wrapper > .color0 {
    background-color: #101f3060;
    /* background-color: transparent; */
}
#wrapper > .color1 {
    background-color: #30363db3;
}
#wrapper > .color2 {
    background-color: #2486b9;
}
#wrapper > .color3 {
    background-color: #2376b7;
}
#wrapper > .color4 {
    background-color: #1661ab;
}
#wrapper > .color5 {
    background-color: #134857;
}
#wrapper > .color6 {
    background-color: #813c85;
}
#wrapper > .color7 {
    background-color: #815c94;
}

blockquote {
    border-left-color: rgba(0, 0, 0, 0.4);
}

#wrapper > .invert blockquote {
    border-left-color: rgba(0, 0, 0, 0.2);
}

p, li, td, th, blockquote {
    opacity: 0.8;
}

p {
    text-align: justify;
}

.banner.style5 {
    text-align-last: center;
}

.spotlight.style1.content-align-center {
    text-align-last: center;
}

.spotlight.style1.content-align-right {
    text-align-last: right;
}

@media screen and (max-width: 736px) and (orientation: portrait) {
    .spotlight.style1 {
        text-align: center !important;
        text-align-last: center !important;
    }
}

.gallery.style2.fixheight article {
    height: 100%;
    width: auto;
    max-width: none;
}

    .gallery.style2.fixheight article .caption {
        padding: 2rem;
    }

@media screen and (max-width: 980px) {

    .gallery.style2.fixheight article .caption {
        padding: 2rem;
    }

}

@media screen and (max-width: 736px) {

    .gallery.style2.fixheight article .caption {
        padding: 2rem;
    }

}

.items {
    text-align-last: center;
}

ul.actions li {
    opacity: 1;
}

ul.icons li {
    opacity: 1;
}

.icon.style3 {
    border-radius: 50%;
    width: 2.75em;
    height: 2.75em;
    display: inline-block;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    font-size: 1.25em; /* 设定字体大小，以便与图标匹配 */
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.icon img {
    pointer-events: none;
    width: 50%;
    height: 50%;
    object-fit: contain; /* 确保图片按比例缩放，不会被裁剪 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 使图片居中 */
}

/* navigation bar */

#wrapper > nav.invert {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #144a74cc;
    transition: top 0.3s ease-in-out;
    padding: 5px; /* 内边距 */
}

/* 列表样式：水平排列 */
nav ul {
    list-style-type: none; /* 去掉默认的列表样式 */
    margin: 0;
    padding: 0;
    display: flex; /* 使列表项水平排列 */
    justify-content: center; /* 居中对齐 */
}

/* 列表项样式 */
nav ul li {
    margin: 0 8px; /* 列表项的左右间距 */
}

/* 当导航栏显示时，固定在顶部 */
nav.show {
    display: block;
}

.button.navbar{
    font-size: 1.4em;
    font-weight: bold;
    height: 1.5em;
    line-height: 1.4em;
    border-radius: 0;
    letter-spacing: 0;
    box-shadow: none;
    padding: 0;
    text-transform: none;
}

.button .icon {
    height: 1.3em;
    width: auto;
    vertical-align: middle;
    pointer-events: none;
}

#wrapper > .invert .button.navbar{
    box-shadow: none;
}

.button.navbar:hover{
    box-shadow: none;
}

.label-nav {
    margin-left: 8px;
}

@media (max-width: 800px) {
    .label-nav {
        display: none;
    }
}
